@import url('https://fonts.googleapis.com/css?family=Lato');


.App {
    text-align: center;
    background-color: #000000;
  }
  
  .cronometro-dentro{
    background-color: #282c34;
    height: 98vh;
    width: auto;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    border: 5px outset rgba(0,0,0,0.3);
  }
  
  .cabecalho{
    justify-content: center;
    padding-top: 30px;
    color: rgb(100, 98, 224);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .mostrador{
  letter-spacing: 4px;
  border-radius: 50%;
  border: 5px outset rgba(100, 98, 224, 0.3);
  width: 20vw;
  height: 20vh;
  color:  rgb(100, 98, 224);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  }
  
  .botao{
    width:15vw ;
    height: auto;
    margin-left: 1vw;
    border-radius: 10vh;
    padding: 1px 1px 1px 1px;
    border:  outset rgba(100, 98, 224, 0.3);
    background-color:  rgba(145, 144, 230, 0.3);
    justify-content: center;
    display: inline-block;
    box-shadow: 1px 5px 10px #242424;
  }
  
  .parcial{
    width: 95vw;
    border-radius: 3vh;
    margin-left: 1vw;
    border-top: 5px outset rgba(0, 0, 0, 0.3);
    justify-content: center;
    height: auto;
    color: #d1d1d1;;
    box-shadow: 1px 2vh 5vh #242424;
    border-radius: 3vh;
    margin-top: 10vh;
    margin-left: 2vw;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
  }
  
  table {
    border-collapse: collapse;
  }
  
  table td,
  th {
    width: 100vw;
    font-size: 18px;
    border-bottom: 1px #fff;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 5px 10px #242424;
  }

 .Temporizador{
 Margin-top: 10vh;
 color: #fff
 }