.Cronometro{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: auto;
    border-radius: 10px;
    border: 5px outset rgba(0,0,0,0.3);
    background-color: #282c34;
    color: aliceblue;
}

.chronotime {
  letter-spacing: 4px;
  border-radius: 50%;
  border: 5px outset rgba(100, 98, 224, 0.3);
  width: 200px;
  height: 200px;
  color:  rgb(100, 98, 224);
  display: flex;
  flex-direction: zz;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}

.chronotime-text {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 100%;
  font-size: 5vh;
  letter-spacing: 4px;
  color:aliceblue;
  text-shadow: 0 0 6px darken(aliceblue, 20%);
}

.chronotime-text span {
  text-align: center;
  display: block;
  width: 100%;
}

.interno {
  width: 45vw;
  border-radius: 3vh;
  margin-left: 1vw;
  border: 1px outset rgba(0, 0, 0, 0.3);
  border-top: 3px outset rgba(0, 0, 0, 0.3);
  justify-content: center;
  height: 75vh;
  color: #d1d1d1;;
  box-shadow: 1px 2vh 5vh #242424;
  border-radius: 3vh;
  margin-top: 10vh;
  margin-left: 2vw;
  margin-bottom: 10vh;
  padding-bottom: 5vh;
}

.interno button {
  color: aliceblue;
  width:25vw ;
  height: 5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  border-radius: 3vw;
  border:  outset rgba(100, 98, 224, 0.3);
  background-color:  rgba(145, 144, 230, 0.3);
  box-shadow: 1px 5px 10px #242424;
}

.interno button:hover {
  font-weight: bold;
  color: rgba(100, 98, 224, 0.938);
}

.interno-table {
  margin-left: 3vw;
  height: 75vh;
}

table {
  border-collapse: collapse;
}

table td,
th {
  width: 100vw;
  font-size: 18px;
  border-bottom: 1px aliceblue;
  color: aliceblue;
  padding: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 1px 5px 10px #242424;
}